# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build output
dist
dist-ssr
*.local
Dockerfile.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace
*.env
*copy.jsx
ai*.js
!ai.js
*.sql
*.zip

# Backend and backups
backend/server.js
backend/.env
!backend/example-.env
client/src/_backups
_backups